@keyframes animation114514 {
    0% {
        background-color: rgba(12, 255, 12, 0.7);
    }
    40% {
        background-color: rgba(44, 253, 44, 0.68);
    }
    70% {
        background-color: rgba(185, 255, 103, 0.64);
    }
    90% {
        background-color: rgba(230, 245, 75, 0.58);
    }
    100% {
        background-color: rgba(255, 220, 132, 0.5);
    }
}

.notice_box {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 450px;
    height: 1000px;
    flex-direction: column;
}

.notice_1 {
    /*background-color: rgba(89, 248, 176, 0.7);*/
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px rgba(127, 202, 255, 0.7);
    margin: 5px 10px;
    padding: 10px;

    animation: animation114514 5s;
    transition: ease-in-out;
}

.notice_title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.notice_content {
    font-size: 15px;
    padding: 5px 10px;
    text-align: left;
    font-weight: lighter;
}
